<!--
  ~ Copyright (c) 2016.
  ~ Modified on 20/04/2016.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.aptoide.pt.dataprovider">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

  <application
      android:allowBackup="false"
      >

  </application>

</manifest>
