<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cm.aptoide.aptoideviews"
    >


  <!--  -->
  <application
      android:allowBackup="false"
      android:testOnly="true"
      >
    <activity
        android:name="cm.aptoide.aptoideviews.base.MockActivity">
    </activity>
  </application>
</manifest>
