<!--
  ~ Copyright (c) 2016.
  ~ Modified by Neurophobic Animal on 12/04/2016.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.aptoide.pt.model">

  <application
      android:allowBackup="true"
      android:supportsRtl="true"
      >

  </application>

</manifest>
