<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.aptoide.accountmanager">

  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <uses-feature
      android:name="android.hardware.camera"
      android:required="false"
      >
  </uses-feature>

  <application
      android:allowBackup="true"
      android:supportsRtl="true">

    <activity
        android:name=".LoginActivity"
        android:exported="true"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        />

    <activity android:name=".MyAccountActivity"/>

    <activity android:name=".SignUpActivity"/>

    <activity
        android:name=".CreateUserActivity"
        android:windowSoftInputMode="stateHidden"
        />

    <activity
        android:name=".CreateStoreActivity"
        android:exported="true"
        android:windowSoftInputMode="stateHidden"
        />

    <activity
        android:name=".LoggedInActivity"
        android:windowSoftInputMode="stateHidden"
        />

    <activity
        android:name=".LoggedInActivity2ndStep"
        android:windowSoftInputMode="stateHidden"
        />

  </application>

</manifest>
