<!--
  ~ Copyright (c) 2016.
  ~ Modified by Neurophobic Animal on 24/05/2016.
  -->

<manifest package="cm.aptoide.pt.imageloader"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      >

  </application>

</manifest>
