<!--
  ~ Copyright (c) 2016.
  ~ Modified by Neurophobic Animal on 25/05/2016.
  -->

<manifest package="cm.aptoide.pt.v8engine"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >

        <activity android:name=".MainActivityFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.StoreActivity"/>

        <receiver android:name=".receivers.LoginBroadcastReceiver">
            <intent-filter>
                <action android:name="${applicationId}.accountmanager.broadcast.login"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.InstalledBroadcastReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!--
        <activity android:name="cm.aptoide.pt.v8engine.MainActivityStoreList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        -->

    </application>

</manifest>
