<!--
  ~ Copyright (c) 2016.
  ~ Modified on 08/08/2016.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cm.aptoide.pt.v8engine">

  <uses-feature
      android:name="android.hardware.camera"
      android:required="false"/>

  <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <uses-sdk
      android:minSdkVersion="15"
      tools:overrideLibrary="com.paypal.android.sdk.onetouch.core, com.paypal.android.sdk.payments, com.braintreepayments.api.core, com.braintreepayments.api, com.braintreepayments.cardform"
      />

  <application
      android:allowBackup="false"
      >

    <activity
        android:name=".timeline.post.PostActivity"
        android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity>

    <activity android:name=".view.search.SearchActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH"/>
      </intent-filter>
      <meta-data
          android:name="android.app.searchable"
          android:resource="@xml/searchable"/>
    </activity>

    <activity android:name=".view.search.StoreSearchActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH"/>
      </intent-filter>
      <meta-data
          android:name="android.app.searchable"
          android:resource="@xml/store_searchable"/>
    </activity>

    <activity
        android:name=".billing.view.PaymentActivity"
        android:theme="@style/AppBaseTheme.NoTitle.Transparent"/>

    <activity android:name=".view.account.LoginActivity"/>
    <activity android:name=".spotandshare.view.SpotSharePreviewActivity"/>

    <activity
        android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        />

    <activity
        android:name=".DeepLinkIntentReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:mimeType="application/vnd.cm.aptoide.pt"
            android:scheme="file"/>
        <data
            android:mimeType="application/vnd.cm.aptoide.pt"
            android:scheme="http"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="aptoide"/>
        <data android:scheme="aptoiderepo"/>
        <data android:scheme="aptoidexml"/>
        <data android:scheme="aptoideinstall"/>
        <data android:scheme="aptoidesearch"/>
        <data android:scheme="aptword"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data android:scheme="market"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="market.android.com"
            android:scheme="https"/>

        <data
            android:host="market.android.com"
            android:scheme="http"/>

      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="webservices.aptoide.com"
            android:pathPrefix="/apkinstall"
            android:scheme="http"/>

      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="play.google.com"
            android:scheme="https"/>
        <data
            android:host="play.google.com"
            android:scheme="http"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="imgs.aptoide.com"
            android:pathPattern="*//.myapp"
            android:scheme="http"/>
      </intent-filter>


      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="*.aptoide.com"
            android:pathPrefix="/store/"
            android:scheme="http"/>
      </intent-filter>


      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="*.aptoide.com"
            android:pathPrefix="/store/"
            android:scheme="https"/>
      </intent-filter>

    </activity>

    <receiver android:name=".install.InstalledBroadcastReceiver">
      <intent-filter android:priority="999">
        <action android:name="android.intent.action.PACKAGE_ADDED"/>
        <action android:name="android.intent.action.PACKAGE_REMOVED"/>
        <action android:name="android.intent.action.PACKAGE_REPLACED"/>

        <data android:scheme="package"/>
      </intent-filter>
    </receiver>

    <service android:name=".notification.PullingContentService"/>
    <service android:name=".sync.SyncService"/>

    <receiver android:name=".notification.NotificationReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
      </intent-filter>
    </receiver>


    <receiver android:name=".link.CustomTabNativeReceiver"/>

    <receiver
        android:name=".download.ScheduleDownloadsNetworkReceiver"
        android:enabled="true"
        android:exported="false">
      <intent-filter>
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".install.CheckRootOnBoot">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.REBOOT"/>
        <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".install.RootInstallNotificationEventReceiver"/>

    <service android:name=".InstallService"/>

    <service android:name=".install.InstalledIntentService"/>

    <!-- spotandshare -->
    <activity
        android:name=".spotandshare.view.RadarActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>

        <category android:name="android.intent.category.DEFAULT"/>

        <data android:mimeType="application/vnd.android.package-archive"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE"/>

        <category android:name="android.intent.category.DEFAULT"/>

        <data android:mimeType="application/vnd.android.package-archive"/>
      </intent-filter>
    </activity>
    <activity android:name=".spotandshare.view.AppSelectionActivity"/>

    <service
        android:name=".spotandshare.transference.ClientService"
        android:enabled="true"
        android:exported="true"/>
    <service
        android:name=".spotandshare.transference.ServerService"
        android:enabled="true"
        android:exported="true"/>

    <activity
        android:name=".spotandshare.view.TransferRecordActivity"
        android:configChanges="orientation|keyboardHidden|screenSize">
    </activity>
    <activity android:name=".spotandshare.view.ShareAptoideActivity">
    </activity>

  </application>

</manifest>
