<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cm.aptoide.pt">

  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

  <application
      android:name=".NotificationApplicationView"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      tools:replace="label"
      />
</manifest>