<!--
  ~ Copyright (c) 2016.
  ~ Modified by Neurophobic Animal on 22/04/2016.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.aptoide.pt.networkclient">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:allowBackup="true"
  >

  </application>

</manifest>
