<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.aptoide.pt.spotandshareandroid">


  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
      android:allowBackup="true"
      android:supportsRtl="true">


    <activity
        android:name="cm.aptoide.pt.spotandshareandroid.HighwayActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="application/vnd.android.package-archive" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="application/vnd.android.package-archive" />
      </intent-filter>
    </activity>

    <activity android:name="cm.aptoide.pt.spotandshareandroid.HighwayAppSelectionActivity" />

    <service
        android:name="cm.aptoide.pt.spotandshareandroid.HighwayClientComm"
        android:enabled="true"
        android:exported="true" />
    <!--<service-->
    <!--android:name=".HighwayServerComm"-->
    <!--android:enabled="true"-->
    <!--android:exported="true" />-->

    <service
        android:name="cm.aptoide.pt.spotandshareandroid.HighwayClientService"
        android:enabled="true"
        android:exported="true" />
    <service
        android:name="cm.aptoide.pt.spotandshareandroid.HighwayServerService"
        android:enabled="true"
        android:exported="true" />

    <activity
        android:name="cm.aptoide.pt.spotandshareandroid.HighwayTransferRecordActivity"

        android:configChanges="orientation|keyboardHidden|screenSize">

    </activity>


  </application>


</manifest>
